<% provide(:title, 'Students') %>

<div class="title-header">
  <h1>All Students</h1>
</div>

  <div class="row">
    <div class="col-md-5">
        <%= render partial: 'users/student', collection: @students, as: :student %>
    </div>
  </div>

  <%= will_paginate @students, class: 'center' %>
