<div class="course">
  <h4><%= course.name %></h4>
  <h5><%= course.description %></h5>
  <span>enrollment: <%= course.enrollment %></span><br>
  <span>average grade: <%= course.average_grade %></span>

</div>
