<div class="summary">
  <h4><%= course.name %></h4>
  <h5><%= course.description %></h5>
  <h5>current grade: <% @user.course_grade(course) %>
    (<%= Course.letter_grade(@user.course_grade(course)) %>)
  </h5>
</div>
