<% provide(:title, 'Courses') %>

<div class="index-header">
  <h1>Courses</h1>
  <h4>Total:
    <%= @courses.count %>
  </h4>
</div>

  <div class="row">
    <div class="col-md-5">
      <%= render @courses %>
    </div>
  </div>

  <%= will_paginate class: 'center' %>
