@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
/* mixins, variables, etc. */
$app-grey: #424242;
$app-yellow: #ECAD08;
$app-blue: #3097fd;
$app-darker-blue: #377BB5;
@mixin box-sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -box-sizing: border-box;
}
/* Debugging */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box-sizing;
}
/* Universal */
.center {
  text-align: center;
}

.jumbotron {
  background-image: image-url('pencils');
  background-position: center top;
  background-size: cover;
  min-height: 600px;
  font-family: 'Raleway', sans-serif;
  color: #a0a0a0;
}
/* Footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid grey;
  color: grey;

  a {
    color: grey;

    &:hover {
      color: inherit;
    }
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 15px;
    }
  }
}
/* Forms */
input,
select .uneditable-input,
textarea {
  border: 1px solid #bbb;
  width: 100%;
  @include box-sizing;
}

input {
  height: auto !important;
}

#error-explanation {
  color: red;

  ul {
    color: #A74544;
    margin: 0 0 30px;
  }
}

.field-with-errors {
  @extend .has-error;

  .form-control {
    color: $state-danger_text;
  }
}

.checkbox {
  margin-top: 10px;
  margin-bottom: 10px;

  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}
/* Index Pages */
.index-header {
  margin-bottom: 4%;

  h1 {
    color: $app-yellow;
    border-bottom: 2px solid $app-blue;
    padding-bottom: 8px;
  }

  h4 {
    color: grey;
  }
}
/* Summary */
.summary {
  margin-bottom: 12px;
  padding-bottom: 12px;

  a {
    text-decoration: none;

    &:hover {
      color: $app-blue;
    }
  }

  h4 {
    color: $app-darker-blue;
    border-bottom: 2px solid $app-yellow;
    padding-bottom: 2px;
  }

  h5 {
    color: $app-grey;
  }
}
