<footer class="footer">
  <small>
    Created by
    <%= link_to 'Bill Kohler',
                'mailto:bkohler4@gmail.com?subject=Artist Portal' %>
  </small>
  <nav>
    <ul>
      <li><small><%= link_to "About", about_path %></small></li>
    </ul>
  </nav>
</footer>
